// font
$noto: "Noto Sans JP", sans-serif
$m-rd: "M PLUS Rounded 1c", sans-serif

// color
$bg-color: #FBFAF6
$black:#5A5A5A
$black-light:  #a3a3a3
$gray-light: #F0F0F0
$orange-gray-light: #F8F8F8
$orange: #F87700