@use "../forwards" as fw

.hero
  position: absolute
  top: 135px
  left: 80px
  width: calc(100% - 80px)
  z-index: 1
  .site-title
    +fw.site-title
    width: 150px
    height: 160px
    border-radius: 10px
    background-size: 85%
    box-shadow: 0 0 5px fw.$black-middle
    span
      display: none
  .head-copy
    display: flex
    flex-direction: column
    margin-top: 45px
    .catch-copy
      display: inline-block
      width: fit-content
      padding: 10px 10px
      font-family: fw.$m-rd
      font-size: 3.625rem
      font-weight: 700
      line-height: 1
      color: fw.$orange 
      background-color: #fff
      border-radius: 5px
      + .catch-copy
        margin-top: 7px
      span
        font-size: calc(3.625rem * 0.85)
        color: fw.$black
    .lead-copy
      margin-top: 20px
      font-size: 0.9375rem
      font-weight: 300
      line-height: 1.9
  .read-more-link
    +fw.read-more-link
    +fw.shrink-line
    margin-top: 30px
    visibility: hidden
    opacity: 0
    transform: translateY(200px)
    transition: 2s
    &.active
      visibility: visible
      opacity: 1
      transform: translateY(0)


.cover-graphic
  display: flex
  justify-content: space-between
  position: absolute
  top: 0
  left: 0
  width: 100vw
  height: 70vh
  z-index: 0
  .graphic
    position: relative
    width: 100vw
    height: 100%
    overflow: hidden
    .item
      position: absolute
      &.left-yel-1
        top: 37%
        left: -30px
        width: 125px
      &.left-org-1
        top: 44%
        left: -60px
        width: 280px
        transform: rotate(8deg) // scaleY(75%)
      &.left-org-2
        top: 51%
        left: -125px
        width: 325px
        transform: rotate(-10deg) scaleY(75%)
      &.left-yel-2
        top: 63%
        left: -25px
        width: 100px
        transform: rotate(5deg) scaleY(90%)
      &.left-org-3
        top: 63%
        left: -100px
        width: 200px
        transform: scaleY(90%)
      &.right-org-1
        top: 58%
        right: -25px
        width: 280px
      &.right-org-2
        top: 67%
        right: -30px
        width: 350px
        transform: scaleY(90%)
      &.right-yel-1
        top: 80%
        right: -20px
        width: 150px

.hero
  +fw.media(sm)
    top: 110px
    left: 10px
    .site-title
      width: 100px
      height: 120px
      background-size: 70%
    .head-copy
      margin-top: 35px
      .catch-copy
        padding: 10px 12.5px
        font-size: 2.25rem
      .catch-copy span
        font-size: 1.875rem
      .lead-copy
        margin-left: 10px
        font-size: 0.8125rem
        line-height: 1.7
      .read-more-link
        +fw.read-more-link
          font-size: .875rem
        
.cover-graphic
  +fw.media(sm)
    .graphic
      width: 100vw
      height: 110vh
      .item
        &.left-yel-1
          top: 22%
        &.left-org-1
          top: 25%
          width: 175px
          transform: rotate(-1deg)
        &.left-org-2
          top: 25%
          width: 275px
          transform: rotate(-1deg)
        &.left-yel-2
          top: 42%
          left: 3px
          width: 65px
        &.left-org-3
          top: 40%
          width: 177px
        &.right-org-1
          top: 40%
          right: -60px
          width: 210px
        &.right-org-2
          top: 45%
          right: -80px
          width: 262px
        &.right-yel-1
          top: 60%
          right: -25px
          width: 87px