@use "../forwards" as fw

main
  .wrapper
    position: relative
    width: 100%
    height: 93vh
    .swiper.main-visual
      position: absolute
      top: 10px
      left: 0
      width: 100vw
      z-index: 0
      .swiper-wrapper
        transition-timing-function: linear
        .swiper-slide
          img
            width: 100%
            height: 90vh
            object-fit: cover
            border-radius: 20px
    .frame-divider
      position: absolute
      top: 56%
      left: 0
      width: 100vw
      // height: 50vh
      overflow: hidden
      z-index: 1
      .divider
        width: 100%
        object-fit: cover

.vansayplus-posts
  .swiper.vansayplus-slide
    position: absolute
    top: -100px
    left: 350px
    width: 50vw
    overflow: hidden
    .post-archive.swiper-wrapper
      display: flex
      width: 100%
      .swiper-slide
        a
          display: block
          width: 100%
          height: 100%
          .frame
            width: 100%
            aspect-ratio: 4/3
            overflow: hidden
            border-radius: 20px
            img
              width: 100%
              height: 100%
              object-fit: cover
              transition: .3s
          .wrapper
            display: flex
            align-items: center
            gap: 15px
            height: auto
            margin-top: 20px
            time
              font-size: 0.8125rem
              font-weight: 300
              letter-spacing: 0.06em
              color: #fff
            ul
              li
                display: inline-block
                padding: 5px 10px
                font-size: 0.625rem
                font-weight: 300
                letter-spacing: 0.06em
                color: #fff
                border: 1px solid  rgba(255, 255, 255, 0.3)
                border-radius: 100px
          .post-title
            display: inline-block
            position: relative
            margin-top: 10px
            font-family: fw.$m-rd
            font-size: 1.125rem
            font-weight: 500
            line-height: 1.7
            color: #fff
            transition: .3s
            &::after
              position: absolute
              bottom: 0
              left: 0
              width: 100%
              height: 1px
              content: ""
              background-color: #fff
              transform: scale(1, 1)
              transform-origin: nth(right right, 1) top
              transition: transform .3s
        &:hover .post-title::after
          transform: scale(0, 1)
          transform-origin: nth(right right, 2) top
        &:hover img
          scale: 120%
        // &:hover .post-title


  .swiper-button-prev, .swiper-button-next
    display: block
    position: absolute
    // swiperの元のCSSを無効にする。
    top: 0 // 記述の必要なし。あえて書いてる。
    margin: 0
    /////////////////////////////
    top: 370px
    right: 17%
    width: 50px
    height: 50px
    border-radius: 50%
    background-color: #fff
    z-index: 100
    &::before
      +fw.positionAbsoluteCTL
      +fw.fontAwesome("\f178", 1rem)
      color: fw.$orange
    &::after
      display: none
  .swiper-button-prev
    left: 67%
    &::before
      +fw.fontAwesome("\f177", 1rem)