@use "../forwards" as fw

.home, .news, .single, .page, .archive
  footer
    padding: 90px 80px
    h2
      font-size: 0.75rem
      font-weight: 700
      margin-bottom: 22px
    .upper
      display: flex
      justify-content: space-between
      padding-right: 80px
      .hospital-address
        .site-title
          +fw.site-title
          width: 154px
          aspect-ratio: 1
          background-size: contain
          background-color: unset
        address
          font-size: 0.875rem
          font-weight: 300
          line-height: 1.7
          margin-top: 10px
      .wrapper
        display: flex
        padding-top: 60px
        gap: 120px
        .site-map, .group-link.footerz
          ul
            li
              margin-left: 30px
              a
                position: relative
                display: block
                width: fit-content
                font-size: 0.875rem
                font-weight: 300
                &::before
                  +fw.positionAbsoluteCTL($top: true)
                  +fw.fontAwesome("\f04b", 1rem)
                  left: -30px
                  width: 20px
                  aspect-ratio: 1
                  font-size: 6.5px
                  padding: 4px 0 0 6px 
                  color: fw.$orange
                  background-color: transparent
                  border: 1px solid fw.$orange
                  border-radius: 50%
                  transition: .3s
                &::after
                  position: absolute
                  display: block
                  bottom: -5px
                  left: 0
                  width: 100%
                  height: 1px
                  content: ""
                  background-color: fw.$orange
                  transform: scale(0, 1)
                  transform-origin: nth(left left, 1) top
                  transition: transform .3s
                &:hover
                  color: fw.$orange
                &:hover::after
                  transform: scale(1, 1)
                  transform-origin: nth(left left, 2) top
            li:hover a::before
              color: #fff
              background-color: fw.$orange
              border: transperent  

        .site-map > ul
          display: grid
          grid-template-columns: repeat(2, 1fr)
          grid-template-rows: repeat(4, 1fr)
          column-gap: 120px
          grid-auto-flow: column
          li
            margin-bottom: 25px
        .group-link
          li
            margin-bottom: 25px
            a
              display: inline-block
              position: relative
              width: fit-content
              &::after
                +fw.fontAwesome("\f08e", .6rem)
                right: -20px
                color: fw.$black-middle
                transition: .5s
            &:hover a::after
              color: fw.$orange
              
    .lower
      margin-top: 40px
      color: fw.$black-deep
      font-weight: 100
      a
        display: block
        position: relative
        width: fit-content
        margin-bottom: 5px
        font-size: .8rem
        cursor: pointer
        transition: .3s
        &::after
          position: absolute
          display: block
          bottom: -3px
          left: 0
          width: 100%
          height: 1px
          content: ""
          background-color: fw.$black-deep
          transform: scale(1, 1)
          transform-origin: nth(right right, 1) top
          transition: transform .3s
        &:hover::after
          transform: scale(0, 1)
          transform-origin: nth(right right, 2) top
      small
        font-size: .75rem