@use "../forwards" as fw

.home
  main
    width: 100%  
    margin: 0 auto
    .latest-info
      display: flex
      position: relative
      width: min(1120px, 90%)
      margin: 0 auto
      padding: 48px
      background-color: #fff
      border-radius: 20px
      z-index: 10
      box-shadow: 0 0 20px fw.$gray-light
      h3
        width: 25%
        font-family: fw.$m-rd
        font-size: 1.5rem
        font-weight: 600
        line-height: 1.4
      .archive
        width: 75%
        .category-menu
          display: flex
          justify-content: flex-end
          gap: 10px
          li
            border-radius: 9999px
            background-color: fw.$gray-light
            transition: .5s
            &.active
              color: #fff
              background-color: fw.$black
            a
              display: block
              width: 100%
              font-size: .85rem
              line-height: 1
              padding: 10px 15px
              font-weight: 500
        .post-archive
          display: flex
          flex-direction: column
          justify-content: flex-start
          height: 240px
          overflow: hidden
          margin-top: 30px
          border-top: 1px dotted fw.$black-middle
          > li
            width: 100%
            border-bottom: 1px dotted fw.$black-middle
            transition: .5s
            &:hover
              background-color: fw.$color-hover-list
            &:hover a::after
              right: 10px
              color: fw.$orange
            a
              display: flex
              align-items: center
              gap: 40px
              position: relative
              padding: 25px 20px
              &::after
                +fw.positionAbsoluteCTL($top: true)
                +fw.fontAwesome("\f178", 20px)
                right: 20px
                width: 20px
                aspect-ratio: 1
                color: fw.$black-light
                transition: .5s
              .header-sub
                display: flex
                align-items: center
                gap: 30px
                time
                  font-size: .8rem
                .post-category
                  > li
                    padding: 7px 20px
                    font-size: .75rem
                    font-weight: 400
                    color: fw.$orange
                    background-color: fw.$orange-gray-light
                    border-radius: 9999px
              .post-title
                display: inline-block
                position: relative
                font-size: 0.8125rem
                font-weight: 300
                line-height: 1.7
                &::after
                  position: absolute
                  display: block
                  bottom: -5px
                  left: 0
                  width: 100%
                  height: 1px
                  content: ""
                  background-color: fw.$black
                  transform: scale(0, 1)
                  transform-origin: nth(left left, 1) top
                  transition: .3s
            &:hover .post-title::after
              transform-origin: nth(left left, 2) top
              transform: scale(1, 1)

    .wrapper.to-archive
      display: flex
      justify-content: flex-end
      width: min(1120px, 90%)
      height: auto
      margin: 0 auto
      .read-more-link
        +fw.read-more-link
        +fw.shrink-line
        margin-top: 35px

    .policy
      position: relative
      > .item
        position: absolute
        z-index: 1
        &.left-org-1
          top: 0%
          left: 2%
          width: 300px
          transform: rotate(147deg)
        &.right-org-2
          top: 1.5%
          right: 20%
          transform: scale(100%) rotate(5deg)
        &.right-org-1
          bottom: 35%
          right: 0.5%
        &.left-org-2
          top: -48%
          left: -85%
          width: unset
          transform: rotate(-10deg) scale(5.5%)
          z-index: 3
        &.left-yel-1
          top: -52%
          left: -90%
          transform:  rotate(-3deg) scale(3%)
          z-index: 3
      ul
        display: grid
        grid-template-columns: repeat(3, 1fr)
        gap: 30px
        position: relative
        margin-top: 70px
        padding: 80px 80px 100px
        background-color: #fff
        border-radius: 90px 0 0 0
        li
          position: relative
          z-index: 2
          a
            display: block
            width: 100%
            height: 100%
            &:hover .header .frame .bgimage
              background-size: 110%
            &:hover .content
              color: fw.$orange
            .header
              position: relative
              .frame
                width: 100%
                aspect-ratio: 1/1.2
                .bgimage
                  width: 100%
                  height: 100%
                  background: no-repeat center
                  background-size: 100%
                  border-radius: 20px
                  transition: .3s
                .outpatient
                  background-image: url(img/kumamoto_introduction01.jpg)
                .hospitalization
                  background-image: url(img/kumamoto_introduction02.jpg)
                .treatment-sct
                  background-image: url(img/kumamoto_introduction03.jpg)
              .catch-copy
                display: flex
                align-items: flex-start
                flex-direction: row-reverse
                gap: 10px
                position: absolute
                top: 30px
                right: 25px
                p
                  display: inline-block
                  padding: 10px 0
                  font-family: fw.$m-rd
                  font-size: 1.175rem
                  line-height: 1.75
                  font-weight: 500
                  letter-spacing: -0.05em
                  writing-mode: vertical-rl
                  background-color: #fff
                  border-radius: 8px
                  span
                    color: fw.$orange
              .policy-title
                position: absolute
                bottom: 0
                width: 100%
                h3
                  position: relative
                  font-family: fw.$m-rd
                  padding-top: 2.5rem
                  width: 87%
                  height: 100%
                  font-size: 1.375rem
                  font-weight: 500
                  line-height: 1
                  letter-spacing: 0.06em
                  color: fw.$orange
                  background-color: #fff
                  border-top-right-radius: 25px
                  &::before
                    position: absolute
                    top: -19px
                    left: 0
                    width: 20px
                    height: 20px
                    content: ""
                    background: url(./img/corner_introduction.svg) no-repeat center 
                    background-size: cover
                  &::after
                    position: absolute
                    bottom: -1px
                    right: -20px
                    width: 20px
                    height: 20px
                    content: ""
                    background: url(./img/corner_introduction.svg) no-repeat center 
                    background-size: cover
                    z-index: 100
                  span
                    position: absolute
                    top: 10px
                    right: 25px
                    font-size: 2.65rem
                    letter-spacing: -0.05em
                    text-stroke: 1px fw.$orange-light
                    -webkit-text-stroke: 1px fw.$orange-light
                    color: #fff
            .content
              padding-top: 20px
              background-color: #fff
              p
                margin-bottom: 30px
                font-weight: 300
                line-height: 1.7
                transition: .3s
              .read-more-link
                +fw.read-more-link
            .content .read-more-link.hover-area
              +fw.read-more-link
                position: relative
                transition: .3s
                &::after
                  position: absolute
                  display: block
                  bottom: -5px
                  left: 0
                  width: 100%
                  height: 1px
                  content: ""
                  background-color: #333
                  transform: scale(1, 1)
                  transform-origin: nth(right right, 1) top
                  transition: transform .3s
            &:hover .content .read-more-link.hover-area::after
              transform: scale(0, 1)
              transform-origin: nth(right right, 2) top

    .information
      position: relative
      .bg-image
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 750px
        background: url(./img/bg_contact.jpg) no-repeat center
        background-size: cover
        border-radius: 0 100px 100px 0
        z-index: -1
      .outpatient-care
        width: 100%
        .wrapper-outpatient-care
          width: 100%
          padding: 80px 88px 80px 75px
          .wrapper-inner
            position: relative
            padding: 48px 80px
            background-color: rgba(255, 255, 255, 0.8)
            box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1)
            border-radius: 30px
            img
              position: absolute
              &.left-org, &.left-yel
                left: 0
                margin-left: -90px
              &.left-org
                bottom: -50%
              &.left-yel
                bottom: -40%
              &.right-org, &.right-yel
                right: 0
                margin-right: -90px
              &.right-org
                bottom: -20%
              &.right-yel
                bottom: 0
            h3
              margin-bottom: 30px
              font-family: fw.$m-rd
              font-size: 1.5rem
              font-weight: 600
              line-height: 1.4
              text-align: center
              color: #333
            dl
              display: grid
              grid-template-columns: repeat(2, 1fr)
              gap: 40px
              margin-bottom: 35px
              dt, dd
                display: flex
                width: max(300px, 100%)
                flex-direction: column
                align-items: center
                justify-content: center
                padding: 40px 0
              dt
                padding: 0
                background-color: fw.$orange
                border-radius: 20px 20px 0 0
                p
                  display: inline-block
                  position: relative
                  margin-left: 12.5px
                  padding: 14px 0
                  font-size: 1rem
                  font-weight: 600
                  color: #fff
                  &::before
                    +fw.positionAbsoluteCTL($top: true)
                    +fw.fontAwesome("\f133", 1rem)
                    left: -25px
                  &.clock-icon::before
                    +fw.fontAwesome("\f017", 1rem)
              dd
                height: 150px
                background-color: #fff
                border-radius: 0 0 20px 20px 
                p
                  font-size: 0.75rem
                  line-height: 1.7
                  font-weight: 400
                  &:first-of-type
                    margin-bottom: 10px
                    font-family: fw.$m-rd
                    font-size: 1.25rem
                    font-weight: 600
                    &.font-size-1dot7-lg
                      font-size: 1.7rem
                  &.color-red
                    font-size: 0.8125rem
                    line-height: 1.4
                    color: #C42222
            .to-patient-guidance
              width: 100%
              a
                position: relative
                display: block
                margin: 0 auto
                width: fit-content
                padding: 18px 32px 18px calc(32px + 20px)
                font-size: 0.8125rem
                font-weight: 500
                letter-spacing: 0.04em
                color: #fff
                background-color: #333
                border-radius: 9999px
                transition: .3s
                &:hover
                  background-color: fw.$orange
                &::before
                  +fw.positionAbsoluteCTL($top: true)
                  left: 30px
                  content: ""
                  width: 16px
                  aspect-ratio: 1
                  background: url(./img/arrow-white.svg) no-repeat center
                  background-size: cover

      .about-us
        position: relative
        padding: 0 80px
        z-index: 100
        h3
          margin-bottom: 40px
          font-family: fw.$m-rd
          font-size: 1.5rem
          font-weight: 600
          color: #fff
        .wrapper-about-us
          display: grid
          grid-template-columns: repeat(2, 1fr)
          gap: 30px
          a
            display: flex
            align-items: center
            width: 100%
            padding: 40px
            background-color: #fff
            border-radius: 20px
            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.08)
            .frame-about-us
              width: 100px
              aspect-ratio: 1
              border-radius: 10px
              overflow: hidden
              img
                width: 100%
                height: 100%
                object-fit: cover
                transition: .5s
            dl
              position: relative
              width: calc(100% - 200px)
              margin-left: 30px
              &::after
                +fw.positionAbsoluteCTL($top: true)
                +fw.fontAwesome("\f178", 1.25rem)
                right: -50px
                color: fw.$black-light
                transition: .3s
              dt
                margin-bottom: 10px
                font-family: fw.$m-rd
                font-size: 1.25rem
                font-weight: 400
                color: fw.$orange
              dd
                font-size: 0.875rem
                font-weight: 300
                line-height: 1.8
                letter-spacing: 0.04em
                transition: .3s
            &:hover .frame-about-us img
              transform: scale(115%)
            &:hover dd
              color: fw.$orange  
            &:hover dl::after
              color: fw.$orange

      .vansayplus-image
        position: relative
        z-index: 0
        padding-right: 80px
        text-align: right
        font-family: fw.$rale
        font-size: 15rem
        line-height: 1
        letter-spacing: -0.075em
        color: rgba(215, 215, 215, 0.3)

      .vansayplus
        display: grid
        grid-template-columns: 20% 80%
        gap: 80px
        position: relative
        margin-top: -135px
        padding-left: 80px
        z-index: 1
        &::after
          position: absolute
          bottom: 0%
          right: 0
          width: calc(100% - 80px)
          height: 340px
          content: ""
          background-color: fw.$orange
          border-radius: 30px 0 0 30px
          z-index: 0
        header
          position: relative
          z-index: 1
          .catch-copy
            position: absolute
            top: 0
            left: 0
            text-align: center
            font-size: .9rem
            font-weight: 500
            line-height: 1.5
            p
              margin-bottom: 20px
        .content
          margin-top: 90px
          margin-bottom: 120px
          .lead-copy
            position: absolute
            top: 220px
            left: 110px
            width: min(240px, 100%) 
            font-size: 0.875rem
            font-weight: 300
            line-height: 1.8
            letter-spacing: 0.04em
            color: #fff
            z-index: 10
          .vansayplus-posts
            .read-more-link
              +fw.read-more-link
              +fw.shrink-line
                position: absolute
                right: 80px
                top: 40px

        .fig
          position: absolute
          bottom: 0
          left: 0
          transform: scaleX(-1)
          z-index: 10
          &.fig.one
            bottom: 30px
            left: -30px
          &.fig.two
            bottom: 188px
            left: -133px
            width: 200px
          &.fig.three
            width: 200px
            bottom: -20px
            left: -58px
          &.fig.four
            bottom: 75px
            left: -60px
      .another-info
        width: 100%
        padding: 80px 17.2vw
        background-color: #F4F2E9
        border-radius: 100px 0 0 0
        .wrapper
          width: 100%
          height: auto
          &:last-of-type
            margin-top: 40px
          h3
            margin-bottom: 24px
            font-family: fw.$m-rd
            font-size: 1.25rem
            font-weight: 600
            text-align: center
            color: #454545
          ul
            display: flex
            justify-content: space-between
            align-items: center
            gap: 30px
            li
              display: grid
              place-content: center
              position: relative
              width: 100%
              padding: 40px 0
              background-color: #fff
              border-radius: 20px
              transition: .3s
              &::before, &::after
                +fw.positionAbsoluteCTL($top: true)
                transition: .3s
                z-index: 10
              &::before
                left: 30px
                width: 34px
                height: 34px
                content: ""
                background-color: fw.$orange
                background: no-repeat center
                background-size: contain
              &.nursing-dep::before
                background-image: url(img/_icon_heart-orange.svg)
              &.physical-exam::before
                background-image: url(img/_icon_health-orange.svg)
              &.book-tour::before
                background-image: url(img/_icon_hospital-orange.svg)
              &::after
                +fw.fontAwesome("\f178", 1.25rem)
                right: 30px
                color: fw.$black-light
        .wrapper.pick-up li:hover, .wrapper.pick-up li:hover::after
          color: fw.$orange
        .wrapper.service
          ul
            li
              display: flex
              justify-content: flex-start
              align-items: center
              padding: 25px 0 25px 30px
              .frame
                width: 48px
                margin-right: 15px
                aspect-ratio: 1
                border-radius: 10px
                overflow: hidden
                img
                  widows: 100%
                  height: 100%
                  object-fit: cover
                  transition: .3s
              &::after
                +fw.fontAwesome("\f08e", 0.9rem)
              &:hover, &:hover::after
                color: fw.$orange
              &:hover img
                scale: 115%

.home
  +fw.media(sm)
    main
      .latest-info
        flex-direction: column
        margin-top: 31vh
        padding: 15px
        h3
          width: 100%
          margin: 15px 0
          font-size: 1.125rem
        .archive
          width: 100%
          .category-menu
            justify-content: flex-start
            li
              a
                font-size: .6rem
                padding: 8px 10px
          .post-archive
            > li
              a
                flex-direction: column
                align-items: flex-start
                gap: 12.5px
                .header-sub
                  gap: 10px
      .wrapper.to-archive
        .read-more-link
          +fw.read-more-link
            font-size: .85rem
      .policy
        background-color: red
        > .item
          display: none
        ul
          grid-template-columns: 1fr
          grid-template-rows: repeat(3, 1fr)
          padding: 40px 20px 0
          margin-top: 50px
          border-radius: 50px 0 0 0
          li
            a
              .header
                .frame
                  aspect-ratio: 3/2.5
                  .bgimage
                    border-radius: 12.5px
                .catch-copy
                  flex-direction: column
                  top: unset
                  right: unset
                  left: 20px
                  bottom: 90px
                  p
                    display: block
                    padding: 2px 8px
                    font-size: 1.125rem
                    writing-mode: horizontal-tb
                .policy-title
                  h3
                    padding: 2rem 0 .5rem
                    font-size: 1.2rem
                    span
                      right: 17px
                      font-size: 2.35rem
              .content
                width: 80%
                padding-top: 5px
                p
                  margin-bottom: 20px
                  font-size: .825rem
                .read-more-link.hover-area
                  +fw.read-more-link
                    font-size: .85rem
      .information
        margin-top: 60px
        .outpatient-care
          .wrapper-outpatient-care
            padding: 40px 20px
            .wrapper-inner
              padding: 40px 20px
              > img
                display: none
              h3
                margin-bottom: 20px
                font-size: 1.15rem
              dl
                display: flex
                flex-direction: column
                gap: 20px
                div
                  height: auto
                  dt
                    border-radius: 10px 10px 0 0 
                    p
                      font-size: .9rem
                  dd
                    height: auto
                    padding: 20px 0
                    p
                      font-size: .6rem
                    p:first-of-type
                      margin-bottom: 5px
                      font-size: 1.2rem
                      span
                        font-size: .95rem
                      &.font-size-1dot7-lg
                        font-size: 1.2rem
        .bg-image
          border-radius: 0 50px 50px 0
        .about-us
          padding: 0 20px
          h3
            margin-bottom: 25px
            font-size: 1.1rem
          .wrapper-about-us
            display: flex
            flex-direction: column 
            gap: 10px
            a
              align-items: flex-start
              gap: 15px
              padding: 20px
              .frame-about-us
                width: 60px
              dl
                width: calc(100% - 100px)
                margin-left: 0
                &::after
                  right: -30px
                dt
                  margin-top: 5px
                  font-size: .9rem
                  font-weight: 500
                dd
                  font-size: .8rem
        .vansayplus-image
          display: none
        .vansayplus
          display: flex
          flex-direction: column
          gap: 30px
          margin-top: 40px
          padding: 0
          &::after
            display: none
          header
            position: unset
            height: auto
            margin: 0 auto
            .catch-copy
              position: unset
              font-size: .8rem
              img
                width: 45%
          .content
            margin: 0
            background-color: fw.$orange
            border-radius: 20px 20px 0 0 
            .lead-copy
              position: unset
              padding: 30px 25px 20px
              width: 100%
              font-size: .85rem
              line-height: 1.7
              font-weight: 300
              color: #fff
            .vansayplus-posts
              .read-more-link
                display: none
              .to-link
                display: block
                position: relative
                width: fit-content
                margin: 30px auto
                padding: 20px 20px 20px 40px
                font-size: .8rem
                color: #fff
                background-color: #333
                border-radius: 9999px
                &::before
                  +fw.positionAbsoluteCTL($top: true)
                  left: 15px
                  display: block
                  content: ""
                  width: 20px
                  height: 20px
                  padding: 5px 0 0 6px
                  font-size: 8px
                  color: #333
                  background-color: #fff
                  background: url(./img/arrow-white.svg) no-repeat center
                  background-size: cover
                  border-radius: 50%
                  transition: 0.5s
        .another-info
          padding: 40px 20px
          border-radius: 0
          .wrapper
            h3
              margin-bottom: 22px
              font-size: 0.875rem
              text-align: left
            ul
              flex-direction: column
              align-items: flex-start
              justify-content: flex-start
              gap: 8px
              li
                display: flex
                place-content: unset
                justify-content: flex-start
                padding: 27.5px 0 27.5px 70px
                font-size: .875rem
                font-weight: 500
                &::before
                  left: 20px
                  width: 30px
            &:last-of-type
              margin-top: 25px
              ul
                li
                  padding: 7.5px 0 7.5px 10px