@use "../forwards" as fw

.home, .single, .page, .category, .archive
  .menu-wrapper
    position: fixed
    top: 30px
    right: 30px
    display: flex
    flex-direction: column
    align-items: flex-end
    font-family: fw.$m-rd
    font-size: 0.875rem
    font-weight: 500
    line-height: 1
    color: fw.$black
    z-index: fw.set-index(menu-wrapper)
    .global-menu
      z-index: fw.set-index(global-menu)
      > ul.menu
        display: flex
        align-items: center
        gap: 30px
        padding: 0 40px
        background-color: #fff
        border-radius: 9999px
        box-shadow: 0 -5px 15px fw.$black-light
        > li
          position: relative
          &.active > ul.sub-menu
            top: 82px
            visibility: visible
            opacity: 1
          > a
            display: block
            height: 100%
            padding: 30px 0
            transition: .3s
            &:hover
              color: fw.$orange
          > ul.sub-menu
            +fw.positionAbsoluteCTL($left: true)
            top: 100px
            display: flex
            flex-direction: column
            align-items: flex-start
            justify-content: flex-start
            padding: 18px 24px
            width: 235px
            background-color: #fff
            border-radius: 10px
            box-shadow: 0 0 20px fw.$gray-light
            transition: .5s
            visibility: hidden
            opacity: 0
            z-index: fw.set_index(sub-menu)
            &::before
              content: ""
              display: inline-block
              width: 0
              height: 0
              border-style: solid
              border-width: 0 15px 15px 15px
              border-color: transparent transparent #fff transparent
              position: absolute
              top: -8px
              left: 50%
              -webkit-transform: translateX(-50%)
              transform: translateX(-50%)
            > li
              +fw.shrink-line-reverse
              display: inline-block
              position: relative
              margin-left: 25px
              padding: 0
              &::before
                +fw.positionAbsoluteCTL($top: true)
                +fw.fontAwesome("\f061", 13px)
                left: -25px
                color: fw.$black-middle
                transition: .3s
              &:hover::before
                left: -18px
              a
                display: block
                padding: 14px 0
                font-weight: 400
                letter-spacing: 0.04em
    .lower-menu
      margin-right: 50px
      z-index: fw.set-index(lower-menu)
      ul
        display: flex
        justify-content: center
        align-items: center
        gap: 24px
        position: relative
        padding: 0 24px
        color: #fff
        background-color: fw.$orange
        border-radius: 9999px
        border-top-left-radius: 0
        border-top-right-radius: 0
        border-bottom-left-radius: 20px
        border-bottom-right-radius: 20px
        &::before, &::after
          +fw.background-image("./img/navigation_corner-orange.svg", $size: cover, $position: center)
          position: absolute
          top: 0
          width: 16px
          aspect-ratio: 1
          content: ""
          transform: rotate(90deg)
        &::before
          left: -16px
        &::after
          right: -16px
          transform: rotate(0deg)
        li
          a
            display: block
            padding: 13px 0
            font-size: 0.8125rem