@use "../forwards" as fw

body.contact
  width: min(100%, 1100px)
  margin: 0 auto
  header
    height: auto
    padding: 80px 0
    text-align: center
    border-bottom: 1px solid fw.$gray-deep
    .logo
      margin: 0 auto
      img
        height: 130px
    h1
      margin-top: 24px
      font-size: 20px
      font-weight: 600
  main
    display: flex
    flex-direction: column
    align-items: center
    p
      font-size: 1rem
      font-weight: 500
      line-height: 1.8
      &:first-of-type
        margin: 70px 0 15px
      &:last-of-type
        margin-bottom: 70px
    .form-wrapper
      max-width: 890px
      padding: 45px
      background-color: #fff
      border-radius: 15px
      box-shadow: 0 0 40px fw.$black-light
      h2
        margin-bottom: 30px
        padding: 24px
        font-size: 1.1rem
        color: #fff
        background-color: #333
        border-radius: 5px
      .contact-form
        display: grid
        gap: 30px
        div
          dt p, dd p
            margin: 0
            font-size: .9rem
          dt
            display: flex
            align-items: center
            margin-bottom: 20px
            p
              span
                margin-right: 12px
                padding: 5px 8px
                font-size: 12px
                color: #fff
                background-color: fw.$red
                border-radius: 3px
          dd
            border: 1px solid fw.$black-light
            border-radius: 5px
            background-color: rgba(251, 251, 251, 0.6)
            transition: .3s
            &:hover
              border: 1px solid fw.$black
            p
              span
                input
                  padding: 15px
                  width: 100%
                  height: 100%
                  font-size: 1rem
                  font-weight: 300
                  &::placeholder
                    color: fw.$gray-deep
                  &:focus
                    outline: none
                    border: unset
            &.input-contents
              height: 200px
      .agreement
        margin-top: 50px
        padding-top: 50px
        border-top: 1px solid fw.$gray-deep
        &:first-of-type p br
          display: none
        p
          margin: 0 
          text-align: center
          font-size: .85rem 
          button
            display: inline-block
            width: 80%
            margin: 30px 0 10px
            padding: 30px
            font-size: .9rem
            color: #fff
            background-color: #333  
            border-radius: 4px 
          &:last-of-type
            font-size: .9rem
            font-weight: 300
            color: fw.$black-middle
  footer.footer-contact
    padding: 60px 0 90px
    text-align: center
    font-size: .7rem
    color: fw.$black-deep


body.contact
  +fw.media(sm)
    padding: 20px
    header
      position: unset
      padding: 27.5px 0 40px
      .logo
        img
          height: 120px
      h1
        font-size: 17px
    main
      p
        padding: 0 30px
        font-size: .775rem
        &:first-of-type
          margin: 30px 0 20px
        &:last-of-type
          margin-bottom: 37.5px
      .form-wrapper
        width: calc(100% - 7.5px)
        padding: 20px 0
        h2
          margin: 10px 25px
          padding: 15px
          font-size: .875rem
        .contact-form
          gap: 20px
          padding: 0 25px 
          div
            dt
              justify-content: flex-start
              margin-bottom: 7px
              p
                width: 100%
                padding: 0
                font-size: 1rem
                span
                  margin-right: 8px
                  padding: 4px 8px
                  font-size: .6rem
            dd
              p
                span
                  input
                    font-size: .9rem
        .agreement
          margin-top: 25px
          padding-top: 25px
          p:first-of-type
            padding: 0 25px
            font-size: .65rem
            text-align: justify
          p:nth-of-type(2)
            margin: 20px 0
            padding: 0
            button
              width: 100%
              margin: 0
              padding: 20px 0
              font-size: .8rem
              font-weight: 500
          p:last-of-type
            padding: 0 5px
            font-size: .75rem
            line-height: 1.5
    footer.footer-contact
      padding: 35px 0 25px
      font-size: .6rem

