@use "../forwards" as fw

.news, .category, .single, .archive
  main
    .container
      .category-link-menu
        position: fixed
        top: 280px
        right: 0
        width: 284px
        padding: 48px
        background-color: #fff
        border-radius: 20px 0 0 20px
        box-shadow: 0 0 30px fw.$gray-light
        z-index: fw.set_index(category-link-menu)
        header
          display: block
          width: 100%
          margin-bottom: 30px
          padding-bottom: 24px
          font-size: 1.125rem
          font-weight: 600
          line-height: 1.4
          color: fw.$black
          border-bottom: solid 1px fw.$black-light
        ul.sub-menu
          li
            + li
              margin-top: 30px
            a
              +fw.shrink($padding: 5px, $color: fw.$orange, $start: left, $end: left )
              display: block
              position: relative
              margin-left: 32px
              font-size: 0.875rem
              font-weight: 300
              color: fw.$black
              &::before
                +fw.positionAbsoluteCTL($top: true)
                +fw.fontAwesome("\f061", 1rem)
                left: -32px
                color: fw.$black-middle
                transition: .3s
              &:hover::before
                left: -20px
                color: fw.$orange
      .post-archive
        width: min(100%, 1600px)
        margin: 0 auto
        padding: 80px 322px 80px 80px
        display: grid
        grid-template-columns: repeat(2, 1fr)
        gap: 35px
        > li
          &:nth-child(n+3) 
            margin-top: 30px
          a
            display: block
            .frame
              width: 100%
              overflow: hidden
              border-radius: 4px
              img
                width: 100%
                height: 100%
                aspect-ratio: 2/1.05
                object-fit: cover
                transition: .3s
            .header-sub
              display: flex
              align-items: center
              margin-top: 15px
              .post-category
                > li
                  margin-right: 15px
                  padding: 6px 10px
                  font-size: .75rem
                  font-weight: 400
                  color: #fff
                  background-color: fw.$orange
                  border-radius: 9999px
              time
                font-size: .8rem
                font-weight: 500
            .post-title
              margin-top: 10px
              font-size: 1rem
              font-weight: 700
              line-height: 1.5
              letter-spacing: 0.06em
              color: fw.$black
              position: relative
              width: fit-content
              transition: .3s
              &::after
                position: absolute
                display: block
                bottom: -5px
                left: 0
                width: 100%
                height: 1px
                content: ""
                background-color: #333
                transform: scale(0, 1)
                transform-origin: nth(left left, 1) top
                transition: transform .3s
          &:hover .post-title::after
            transform: scale(1, 1)
            transform-origin: nth(left left, 2) top
          &:hover img
            transform: scale(115%)
        
      .breadcrumbs
        padding: 0 322px 0 80px
        ul
          position: relative
          padding: 35px 0
          border-top: 1px solid fw.$black-light
          border-bottom: 1px solid fw.$black-light
          li
            display: inline-block
            &:first-of-type
              margin-right: 10px
            span, a
              display: grid
              place-items: center
              width: 28px
              height: 30px
              font-size: 0.875rem
              font-weight: 600
              background-color: fw.$gray-light
              border-radius: 4px
              &.current
                color: #fff
                background-color: fw.$orange
            a
              &.prev, &.next
                +fw.positionAbsoluteCTL($top: true)
                right: 0
                width: fit-content
                font-size: 0.875rem
                font-weight: 500
                color: fw.$black 
                background-color: unset
                &::before
                  +fw.positionAbsoluteCTL($top: true)
                  +fw.fontAwesome("\f0d9", $fontSize: 12px)
                  left: -24px
                  color: #fff
                  z-index: 11
                &::after
                  +fw.positionAbsoluteCTL($top: true)
                  left: -30px
                  content: ""
                  width: 20px
                  height: 20px
                  border-radius: 50%
                  background-color: fw.$orange
                  z-index: 10
              &.next::before
                +fw.fontAwesome("\f0da", $fontSize: 12px)

.news, .category, .single, .archive
  +fw.media(sm)
    main
      .container
        margin: 40px 0 10px
        .category-link-menu
          display: none
        .post-archive
          gap: 15px
          padding: 0 20px
          > li
            a
              .frame
                img
                  aspect-ratio: 3/1.9
              .header-sub
                margin-top: 10px
                .post-category
                  > li
                    margin-right: 5px
                    font-size: .6rem
                time
                  font-size: .6rem
              .post-title
                font-size: .85rem
        .breadcrumbs
          margin: 30px 0 0
          padding: 0 20px
          ul
            padding: 25px 20px 65px 0
            text-align: center
            li:first-of-type
              margin-right: 5px
            li
              a
                &.prev, &.next
                  +fw.positionAbsoluteCTL($left: true)
                  top: 55%
                  left: 55%
                &.next
                  left: 50%