@use '../../_variables' as var
@use './position-absolute-ctl' as ctl
@use './fontawesome' as fa
@use './background-image' as bgi
// @use './shrink-line' as sl

=read-more-link
  display: inline-block
  position: relative
  margin-left: 26px
  font-size: .9rem
  font-weight: 500
  z-index: 10
  @content
  &::before
    +bgi.background-image("./img/arrow.svg", $size: cover, $position: center)
    +ctl.positionAbsoluteCTL($top: true)
    left: -26px
    width: 20px
    aspect-ratio: 1
    content: ""